<section class="section brands py-5">
  <div class="container">
    <div class="row">
      {{ with .content.text }}
        <div class="col-12">
          <h3 class="fs-5 fw-semibold text-primary text-center pb-4">{{ . }}</h3>
        </div>
      {{ end }}
      {{ with .content.title }}
      <div class="col-12">
      <h3 class="fs-1 fw-bold text-primary text-center pb-3">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center">
      {{ range .content.items }}
      <div class="col px-3 my-2 text-center">
        <a class="navbar-brand d-flex align-items-center" href="{{ .url }}">
          {{ with .image}}
          {{ partial "utilities/image-third.html" . }}
          {{ end }}
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
